# Dependencies
node_modules/

# Build outputs
dist/
build/
target/
.output/
.vite/
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# Env
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
.DS_Store

# Java
*.class
*.jar
*.war
